body {
    background-color: #F8F8F8;
    text-align: center;
}
.container {
    display: inline-block;
    width: 80%;
}
header {
    display: inline-block;
    width: 100%;
    margin: 20px 0 0 0;
}
.logo {
    display: inline-block;
    float: left;
    width: 80px;
}
nav {
    display: inline-block;
    float: right;
}
a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 30px 10px;
    color: #CBCBCB;
}
.signin {
    border-radius: 20px;
    border: solid 2px #CBCBCB;
    padding: 3px 15px;
    margin-left: 10px;
}
.block {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0 0;
    align-items: stretch;
}
.message {
    display: inline-block;
    float: left;
    text-align: center;
    width: 50%;
}
.mergaite {
    display: inline-block;
    float: right;
    width: 50%;
}