body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
text-align: center;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.raudonas-fonas {
    background-color: red;
    height: 300px;  
    width: 10%;
    margin-left: 45%;
    padding-top: 50px;
}

p {
    font-size: 20px;
    color: yellow;
    background-color: lightgrey;
    text-decoration: underline;
    text-transform: capitalize;
}

